.main {
  max-width: 1200px;
}

/*nav*/
.nav {
  width: 102%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 3;
}

.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 5px;
}

.link p {
  margin: 0;
}

.link:hover {
  text-decoration: underline;
}

.link{
  font-size: 1.2rem;
}
.link:hover {
  text-decoration: underline;
}

.info_container {
  padding-inline: 20px;
}

.info_container p {
  white-space: pre-wrap;
  line-height: 1.8;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .main {
    padding-inline: 20px;
  }
}
