.summary_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  margin: 3vw;
}

.personal_info_container {
    min-width: 250px;
}

.selfie_img {
  width: 100%;
}

.icons_container {
  display: grid;
  column-gap: 2vh;
  row-gap: 3vh;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 30px;
}

.icons_container div{
  border: 2px var(--main-color) solid;
  border-radius: 15px;
  position: relative;
  padding-block: 3vh;
}

.icons_container h3 {
    position: absolute;
    top: -4vh;
    left: 20px;
    padding-inline: 1vw;
    background-color: var(--background-color);
}

.coding_container,
.backend_container {
    grid-column: span 2;
}

@media (max-width: 600px) {
  .summary_container {
    flex-direction: column;
  }
}
