/*Size measure*/
.experience_card,
.overlay {
  width: 30vw;
  height: 30vw;
  max-width: 400px;
  max-height: 400px;
  min-width: 200px;
}

.experience_card {
  position: relative;
}

.experience_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  color: var(--font-color);
  display: none;
  font-size: 2rem;
  background-color: var(--box-background-low-opacity);
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.experience_card:hover .title {
  color: var(--font-clear);
  display: block;
}

@media (max-width: 600px) {
  .experience_card,
  .overlay {
    width: 80vw;
    height: 80vw;
  }
}
