.construction_header{
    background-color: var(--main-color);
    padding: 2vh;
    color: var(--box-background);
    text-transform: uppercase;
}
.card_container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}
.fade_container{
    background-image: linear-gradient(180deg, rgba(1,1,1,0), red); 
}
