#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

[data-theme="light"] {
  --main-color: #748873;
  --element-color: #d1a980;
  --background-color: #f8f8f8;
  --box-background: #e5e0d8;
  --box-background-low-opacity: rgba(229, 224, 216, 0.4);
  --header-color: #3f3f3f;
  --font-color: #282828;
  --font-clear: black;
}

[data-theme="dark"] {
  --main-color: #748873;
  --element-color: #5f4326;
  --background-color: #282828;
  --box-background: #3f3f3f;
  --box-background-low-opacity: rgba(63, 63, 63, 0.4);
  --header-color: #e5e0d8;
  --font-color: #f8f8f8;
  --font-clear: white;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/fonts/Elms_Sans/ElmsSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Momo Signature";
  src: url("./assets/fonts/Momo_Signature/MomoSignature-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}



body {
  background-color: var(--background-color);
  color: var(--font-color);
  transition: background-color 0.3s ease-out, color 0.7s ease-in;
  font-family: "Montserrat";
}

h1{
  font-family: "Momo Signature";
}

h2, h3, h4 {
    font-family: "Elms Sans";
}