body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

Link {
    text-decoration: none;
}

a{
    color: var(--font-color);
    text-decoration: none;
}

div, section, a{
    transition: background-color 0.3s ease-out, color 0.7s ease-in;
}