.button img {
  width: 40px;
  height: 40px;
  margin: 0.75vw;
  transition: transform 0.2s ease-in;
}

.button img:hover {
  transform: scale(1.2) rotate(10deg);
  /*  filter: brightness(1) drop-shadow(0 0 1px var(--main-color));*/
}
