.card_container {
  background-color: var(--box-background);
  padding: 2px;
  position: relative;
}

.card, .card_container, .card img {
  border-radius: 15px;
  min-width: 200px;
  width: 30vw;
  height: 25vh;
  max-height: 200px;
}

.card img {
  object-fit: cover;
}

.card p {
  display: none;
}

.card:hover p {
  display: block;
}

.card:hover .bkg_img {
  opacity: 0.2;
}

.fade_container {
  position: absolute;
  width: 100%;
  bottom: 0px;
  border-radius: 15px;
  padding-top: 15px;
  background-image: linear-gradient(180deg, rgba(1, 1, 1, 0), var(--background-color));
}

.construction_banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 200px;
  pointer-events: none;
  display: block;
  border-radius: 15px;
}

.no_construction_banner {
  display: none;
}

@media (max-width: 600px) {
  .card, .card_container, .card img {
    width: 80vw;
  }
}
